body {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #051322!important;
}

.container-fluid {
    background-color: rgb(3, 41, 20);
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    padding: 5em;
}

.container-fluid2 {
    background-image: url(../img/greeen\ bg.jpg);
    background-size: cover;
    background-position: center;
}

.card-body {
    text-align: center;
    padding: 1em;
}

.row {
    border-bottom: solid 1px rgba(231, 228, 228, 0.794);
    padding: 1em;
    margin-top: 1rem!important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.row h3 {
   color: rgb(18, 26, 18);
}


.row a {
    color: #fff
}