

.navbar {
    background-color: #051322!important;
}



.container-fluid2{
    padding: 5rem;
    margin-bottom: -80px;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    object-fit: cover;
    background-position: center;
}